{% extends 'base.html' %} {% block meta %}
<title>Login</title>
{% endblock meta %}
<table>
    {% for book in books %}
    <tr>
        <td>{{book.title}}</td>
        <td>
            <select name="status" id="status_{{ book.id }}">
                <option value="">Opsi</option>
                <option value="broken">Rusak</option>
                <option value="lost">Hilang</option>
            </select>
        </td>
    </tr>
</table>
<input type="submit" value="Tambah" />

<script>
</script>