.card {
    background: white;
    width: 270;
    height: 400;
    margin: 10;
}
.container{
    display: flex;
    justify-content: center;
}
.popup {
    width: 400px;
    background: white;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    
}